{block content}
<h1 n:block="title">Fotografie</h1>
<p>
Série fotografií z Výrovky je <a href=" https://mega.nz/#!IVNEzbBT!fvbtnYeRHwm8i-17nN2uLZZE9t-dJFR8ZHLYvjhC2OA">ke stažení zde</a>.
</p>

<p>Zkouška výpisu adres fotek:</p>
<ul>
<li>{php echo $photoDir->getPath}</li>
</ul>
