{block content}
<h1 n:block="title">O stránkách</h1>

<img src="{$baseUrl}/illustrations/vitcry.png" class="float-right w-25" />

<p>Tyto stránky vznikly v rámci diplomové práce na <a href="http://kbes.pedf.cuni.cz/">Katedře biologie a environmentálních studií</a> <a href="http://pedf.cuni.cz/">Pedagogické fakulty</a> <a href="http://www.cuni.cz/">Univerzity&nbsp;Karlovy</a>.

<p>Celou diplomovou práci slující <a href="{$baseUrl}/materials/dp.pdf"><i>Měkkýši buližníkových suků v CHKO Křivoklátsko a&nbsp;jejich využití ve výuce</i> si můžete stáhnout zde</a>.</p>

<div class="clearfix"></div>
