{block content}
<h1 n:block="title">Výukové materiály</h1>

<ul>
 <li><a href="{$baseUrl}/materials/pl_zs.pdf">Pracovní list pro 2. stupeň ZŠ</a> – metodika se kryje s návrhem exkurze v samotné diplomové práci</li>
</ul>
