$theme-colors: (
  dark: #272c32,
  light: #f1f4f7
) !default;

$font-family-base: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body {background: #e4e9f0 url(pozadi.svg) repeat;}

$border-radius: 0.6rem;
.shadow {box-shadow:0 0 1rem #c0cedc;}

@import "node_modules/bootstrap/scss/bootstrap";
@include media-breakpoint-down(md) {
  .rounded {border-radius: 0 !important;}
}

$body-color: $black;
$primary: #825335;
$primary-light: #e5cebf;

h1 {border-bottom: 0.5rem solid $primary; padding-bottom: 0.1rem; font-weight:600; display: inline-block; margin-bottom: 1.5rem; font-size: 2.5rem;}
h2 {border-bottom: 0.3rem solid $primary; padding-bottom: 0.1rem; font-weight:600; display: inline-block; font-size: 1.8rem;}
h3 {padding-bottom: 0.1rem; font-weight:600; font-size: 1.4rem;}

a {color: $primary;}
.bg-dark a {color: $primary-light;}
a:hover {color: #ffffff; background: url(tecky.svg) top left repeat $primary; text-decoration: none; border-radius: 0.2rem;}

.nav .nav-link, .nav .navbar-text {color: white; text-transform: uppercase; font-size: 1.3rem; padding-top: 0.2rem; padding-bottom: 0.2rem; padding-left: 0.25rem; padding-right: 0.25rem; margin-left: 0.15rem; margin-right: 0.15rem}

#families .nav .nav-link {color: white; text-transform: none; font-size: 1rem; padding: 0 0.2rem 0 0.2rem;}
#families {background-color: rgba(161,174,186,0.1); padding: 0.3rem; margin-bottom: 1.5rem; border-radius: 0.5rem;}
#families .nav-pills .nav-link {border-radius: 0.2rem;}

.navbar-brand {background: none; opacity: 0.5; transition: 0.2s;}
.navbar-brand:hover {background:none; opacity: 1;}
.navbar-brand img {height: 2.3rem;}

#scroll {display: none; width: 3.5rem; height: 3.5rem; line-height: 3.5rem; position: fixed; right: 1rem; bottom: 1rem; border-radius: 50%; background: #40474e url('sipka.svg') center center no-repeat; background-size: 1.1rem; text-align: center; font-size: 2rem; cursor: pointer; transition: background-color 0.2s;}
#scroll:hover {background-color: #6b757f;}

@include media-breakpoint-down(md) {
  h1 {font-size: 2rem;}
  .shadow.navbar {box-shadow: none;}
}

.nav .nav-link.active {font-weight: 900; background: none;}
.hyphens p {hyphens: auto;}
.content img {border-radius: $border-radius;}
