{block content}
<h1 n:block="title">Fotografie</h1>
<p>
Série fotografií z Výrovky je <a href=" https://mega.nz/#!IVNEzbBT!fvbtnYeRHwm8i-17nN2uLZZE9t-dJFR8ZHLYvjhC2OA">ke stažení zde</a>.
</p>

<div>
{foreach $photoDir->getPhotos() as $photos}<a class="photo" href="{$basePath.$photos[0]}" class="d-inline-block"><img class="p-1 gallery" src="{$basePath.$photos[1]}" /></a>{/foreach}
</div>
